{% extends "base.html.twig" %}

{% block content %}
	<h1>{{ content.title }}</h1>

	{% for article in content.articles %}
		{{article.title}}
	{% endfor %}

	<pre>
        {{ dump(app.user) }}
    </pre>
{% endblock %}
